<div class="media">
  <a class="pull-left" href="#"><img class="media-object" src="http://placehold.it/64x64" alt="avatar" /></a>
  <div class="media-body">
    <h4 class="media-heading"><%= link_to post.title, post %></h4>
    User posted <%= time_ago_in_words post.created_at %> ago
  </div><!--/media-body-->
</div><!--/media-->
